#header {
  height: 120px;
  background-image: linear-gradient(to bottom, #f53d2d, #fe6333);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  font-weight: 400;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__navbar-item--has-lang:hover .header__lang {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item-separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: #FB9086;
  right: -9px;
  top: 0;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 16px;
  margin: 0 4px;
}

/* Header QR code */
.header__qr {
  width: 186px;
  position: absolute;
  background-color: var(--white-color);
  left: 0;
  top: 150%;
  padding: 2px 8px;
  cursor: default;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-out 0.3s;
}

/* tạo lớp giả để khi hover vẫn hiện được qr */
.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -16px;
}

.header__qr-img {
  width: 100%;
  cursor: default;
}

.header__qr-apps {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__qr-link:nth-child(1) {
  margin-left: 10px;
}

.header__qr-link:nth-child(2) {
  margin-right: 8px;
}

.header__qr-link:nth-child(3) {
  margin: 6px 0 0 8px;
}

.header__qr-download-img {
  height: 16px;
}

/* Header notification */
.header__notify {
  position: absolute;
  background-color: var(--white-color);
  top: 150%;
  right: 0;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  transform-origin: calc(100% - 28px) top;
  animation: growth ease-in-out 0.25s;
  will-change: opacity, transform;
  display: none;
}

/* mũi tên lên cho notify */
.header__notify::before {
  content: "";
  position: absolute;
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  right: 4px;
  top: -28px;
}

/* tạo lớp giả để khi hover vẫn hiện được notify */
.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 10px;
  right: 0;
  top: -10px;
}

.header__notify-main {
  width: 400px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__notify-main-img {
  width: 26%;
}

.header__notify-main-suggest {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 18px;
}

.header__notify-footer {
  height: 40px;
  display: flex;
  background-color: red;
}

.header__notify-footer-item {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header__notify-footer-item:hover {
  color: var(--primary-color);
  background-color: #e5e5e5;
}

/* Header Language */
.header__lang {
  position: absolute;
  background-color: var(--white-color);
  width: 190px;
  top: 150%;
  right: 0;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  color: var(--text-color);
  transform-origin: calc(100% - 42px) top;
  animation: growth ease-in-out 0.25s;
  will-change: opacity, transform;
  display: none;
}

.header__lang::before {
  content: "";
  position: absolute;
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  right: 16px;
  top: -28px;
}

.header__lang::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 10px;
  right: 0;
  top: -10px;
}

.header__lang-item {
  display: inline-block;
  padding: 10px 20px;
}

.header__lang-item:hover {
  color: var(--primary-color);
}